/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Noto+Sans+JP:wght@500;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300;400;500&display=swap');
/* ::::::::::::::::::: Globals ::::::::::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BgColor);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-primary {
  margin: 1rem auto;
  text-align: center;
  background: transparent;
  border: 2px solid var(--MainColor);
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: var(--MainTransition);
  letter-spacing: 1.2px;
  font-weight: 600;
  color: var(--MainColor);
}
.section {
  max-width: 100vw;
  margin: 0 auto;
}
.section-center {
  max-width: 90%;
  margin: 0 auto;
}
.section-title {
  margin-top: 1.5rem;
  text-align: center;
  color: var(--MainColor);
  font-family: var(--TitleFont);
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .section-center {
    width: 95%;
  }
  .section-title {
    padding-top: 2rem;
  }
}
#root {
  max-width: 100vw;
}
/* End Globals */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
:root {
  /* Colors */
  --BgColor: #f2f2f2;
  --MainColor: #8b0000;
  --Gray1Color: #373534;
  --Gray2Color: rgb(31, 31, 31);
  --BlueColor: #2d3142;
  --CtaColor: #9efca1;
  /* Fonts */
  --TitleFont: 'Noto Serif', serif;
  --TextsFont: 'Quicksand', sans-serif;
  --CtaFonts: 'Noto Sans JP', sans-serif;
  --LogoFont: 'Dancing Script', cursive;
  /* Others */
  --MainTransition: 0.3s ease all;
}
/* End Variables */

/* ::::::::::::::::::: Header ::::::::::::::::::::: */
.header {
  width: 100vw;
  background: white;
}
.logo-container {
  width: 85%;
  padding-top: 0.7rem;
  height: 3.5rem;
  margin: 0 auto;
  color: var(--MainColor);
  cursor: pointer;
  text-align: center;
  font-family: var(--LogoFont);
  letter-spacing: 2px;
}
/* End Header */

/* ::::::::::::::::::: Navbar ::::::::::::::::::::: */
.desktop-nav {
  display: none;
}
.mobile-navbar {
  width: 100%;
  background-color: white;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--MainColor);
}
.dd-btn {
  color: var(--MainColor);
  font-size: 1.8rem;
  cursor: pointer;
  margin-left: 1.2rem;
  transition: var(--MainTransition);
}
.dd-btn:hover {
  transform: scale(1.2);
}
.mobile-searchbox {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
}
.search-box {
  width: 80%;
  margin: 0 auto;
  border: none;
  border-radius: 1rem;
  outline: none;
  padding: 0.4rem 0;
  background-color: #8b000020;
}
.searchbox-icon {
  position: absolute;
  right: 2.3rem;
  top: 50%;
  transform: translateY(-60%);
  cursor: pointer;
  transition: var(--MainTransition);
}
.searchbox-icon:hover {
  margin-right: 0.3rem;
}
.mobile-bag {
  color: var(--MainColor);
  font-size: 2rem;
  margin-right: 1.2rem;
  cursor: pointer;
  transition: var(--MainTransition);
  position: relative;
}
.mobile-bag:hover {
  transform: scale(1.2);
}
.nav-amount-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
/* DD Menu */
.dd-menu {
  width: 100%;
  background: var(--MainColor);
  color: white;
  padding-left: 0.5rem;
  display: none;
  transition: var(--MainTransition);
}
.show-dd {
  display: block;
}
.dd-menu ul li {
  padding: 0.5rem 0rem;
}
.dd-single-item {
  cursor: pointer;
  letter-spacing: 1.3px;
  font-family: var(--TitleFont);
  transition: var(--MainTransition);
}
.dd-single-item:hover {
  padding-left: 1rem;
  border-left: 1px solid white;
}
.dd-menu-division {
  background: white;
  height: 0.3px;
  width: 95%;
  margin: 0 auto;
}
.dd-amount-container {
  display: flex;
  align-items: baseline;
}
.dd-amount-number {
  margin-left: 0.5rem;
  font-size: 1rem;
}
/* End Mobile Navbar */

/* Desktop Nav */
@media screen and (min-width: 700px) {
  .mobile-navbar {
    display: none;
  }
  .header {
    display: none;
  }
  .desktop-nav {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 4rem;
  }
  .desk-logo {
    color: var(--MainColor);
    cursor: pointer;
    text-align: center;
    font-family: var(--LogoFont);
    letter-spacing: 2px;
    margin-left: 1.5rem;
  }
  .desk-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0.6rem;
  }
  .desk-link {
    margin-right: 1rem;
    font-family: var(--TitleFont);
    cursor: pointer;
    transition: var(--MainTransition);
    font-weight: 500;
  }
  .desk-link:hover {
    color: var(--MainColor);
  }
  .mobile-bag:hover {
    transform: scale(1.05);
  }
}
/* End Desktop Nav */

/* ::::::::::::::::::: Home-Section ::::::::::::::::::::: */
.home-sect {
  background: var(--BgColor);
  max-width: 100vw;
}
/* End Home */
/* ::::::::::::::::::: Banner-Section ::::::::::::::::::::: */
.banner-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://firebasestorage.googleapis.com/v0/b/buona-pizza-b85d5.appspot.com/o/Banner%2Ffizzafour.jpg?alt=media&token=744c91d3-e2a9-4315-b9ce-c3cae1630b5c')
      center/cover fixed no-repeat;
  width: 100%;
  height: 65vh;
  position: relative;
}
.banner-info {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: var(--TitleFont);
  letter-spacing: 1.3px;
}
.btn-banner {
  color: white;
  border-color: white;
}
.btn-banner:hover {
  background: var(--MainColor);
}
@media screen and (min-width: 700px) {
  .banner-info {
    top: 70%;
  }
}
/* End Banner-Section */

/* ::::::::::::::::::: About Page ::::::::::::::::::::: */
.about-sect {
  min-height: 70vh;
}
.about-info {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--Gray1Color);
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 3rem;
}
/* End About Page */
@media screen and (min-width: 700px) {
  .about-info {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .about-info {
    width: 50%;
    line-height: 1.4;
    padding-bottom: 2.5rem;
  }
}
/* ::::::::::::::::::: Error Page ::::::::::::::::::::: */
.error-sect {
  height: 70vh;
  display: flex;
  justify-content: center;
  place-items: center;
}
.error-container {
  font-size: 1.2rem;
}
.error-btn {
  display: block;
  width: 70%;
  white-space: nowrap;
  text-align: center;
  margin: 3rem auto;
}
.error-btn:hover {
  background: var(--MainColor);
  color: white;
}
/* End Error page */

/* ::::::::::::::::::: Services ::::::::::::::::::::: */
.services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  background: #ff2828;
  width: 100%;
}
.single-service {
  text-align: center;
  color: white;
  flex: 1;
  cursor: pointer;
  transition: var(--MainTransition);
  transform: scale(0.8);
}
.single-service > * {
  font-size: 2rem;
  padding-bottom: 0.3rem;
}
.single-service h4 {
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1.5px;
}
.single-service:hover {
  transform: scale(1);
}
/* End Services */

/* ::::::::::::::::::: Footer ::::::::::::::::::::: */
.footer-center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.footer-light {
  background: var(--Gray1Color);
  color: #8c8c8c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}
.light-left {
  margin: 0 auto;
  letter-spacing: 1.2px;
}
.light-right {
  margin: 0 auto;
  font-size: 1.5rem;
}
.light-right > * {
  cursor: pointer;
  transition: var(--MainTransition);
}
.light-right > *:hover {
  color: white;
}
.footer-dark {
  background: var(--Gray2Color);
  color: #494949;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* End Footer */

@media screen and (min-width: 700px) {
  .footer-light {
    height: 5rem;
    font-size: 1.3rem;
  }
  .light-right {
    font-size: 2rem;
  }
  .footer-dark {
    font-size: 1.2rem;
  }
}
/* ::::::::::::::::::: Discounts ::::::::::::::::::::: */
.discounts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.single-discount {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  height: 18rem;
  text-align: center;
  border: 1px solid var(--Gray1Color);
  position: relative;
}
.discount-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}
.img-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 18rem;
  background: rgba(0, 0, 0, 0.5);
}
.discount-info {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: var(--TitleFont);
  letter-spacing: 2.25px;
  line-height: 1.5;
  font-size: 2rem;
}

/* End Discounts */

/* ::::::::::::::::::: MENU and Product Card ::::::::::::::::::::: */
.menu-section {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 6rem;
}
.products-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}
/* Product Card Component*/
.single-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  width: 20rem;
  height: 30em;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.22);
  transition: var(--MainTransition);
  overflow: hidden;
  margin-bottom: 2rem;
}
.product-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
.single-prod-cart {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-size: 4rem;
  color: white;
  background: #ff2828;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--MainTransition);
}
.single-product:hover {
  transform: scale(1.05);
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 1.3rem;
}
.product-title {
  font-size: 1.7rem;
  color: var(--MainColor);
  font-family: var(--TitleFont);
  font-weight: 500;
}
.product-price {
  color: var(--Gray1Color);
  font-size: 1.4rem;
}
.btn-card:hover {
  background: var(--MainColor);
  color: white;
}
/* End Product Card */
@media screen and (min-width: 700px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1400px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ::::::::::::::::::: Promo Products ::::::::::::::::::::: */
.promo-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--MainColor);
  font-family: var(--LogoFont);
  letter-spacing: 2px;
}
.promo-container {
  width: 90vw;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.promo-card {
  width: 100%;
  height: 12rem;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.248);
  display: flex;
  flex-direction: column;
}
.promo-img-container {
  position: relative;
  width: 100%;
  height: 8.2rem;
  flex: 1;
}
.promo-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.promo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.promo-cart-icon {
  position: absolute;
  top: 0.4rem;
  right: 0.7rem;
  font-size: 1.3rem;
  color: white;
  z-index: 2;
  cursor: pointer;
  transition: var(--MainTransition);
}
.promo-cart-icon:hover {
  transform: scale(1.5);
}
.promo-info {
  text-align: start;
  padding: 0.5rem 1rem;
}
.promo-pizza-title {
  font-size: 0.8rem;
  color: var(--BlueColor);
}
.promo-price {
  margin-top: 0.3rem;
  color: #ff2828;
  font-weight: bold;
  font-family: var(--TitleFont);
}
@media screen and (min-width: 700px) {
  .promo-title {
    font-size: 2.3rem;
  }
  .promo-container {
    gap: 1.2rem;
  }
  .promo-card {
    height: 15rem;
  }
  .promo-img-container {
    height: 10rem;
  }
  .promo-cart-icon {
    font-size: 1.5rem;
    top: 0.6rem;
    right: 1rem;
  }
  .promo-cart-icon:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 992px) {
  .promo-card {
    height: 18rem;
  }
  .promo-container {
    gap: 1.5rem;
  }
}
/* End Promo Products */

/* ::::::::::::::::::: Product Details ::::::::::::::::::::: */
.desc-section {
  min-height: 65vh;
}
.img-desc-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}
.description-img {
  width: 80%;
  height: 15rem;
  object-fit: cover;
  border: 3px solid var(--MainColor);
  border-radius: 2rem;
}
.description-info {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  color: var(--Gray1Color);
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.description-price {
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  color: var(--MainColor);
}
.btn-desc {
  display: block;
  text-align: center;
  margin-bottom: 3rem;
}

/* End Product Details*/

/* ::::::::::::::::::: Empty Cart ::::::::::::::::::::: */
.empty-sect {
  min-height: 76vh;
  display: flex;
  align-items: center;
}
.empty-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn-empty {
  margin: 2rem auto;
  text-align: center;
}
.btn-empty:hover {
  background: var(--MainColor);
  color: white;
}

/* End Empty Cart */

/* ::::::::::::::::::: Cart Page ::::::::::::::::::::: */
.cart-sect {
  min-height: 75vh;
  text-align: center;
  padding-bottom: 3rem;
}
.return-menu {
  letter-spacing: 1.5px;
  margin-bottom: 0.5rem;
  color: var(--MainColor);
}
.cart-page-total {
  font-family: var(--TitleFont);
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 1.2px;
  margin: 2rem auto;
}
.btn-checkout {
  margin: 2rem auto;
  text-align: center;
}
.btn-checkout:hover {
  background: var(--MainColor);
  color: white;
}
/* End Cart Page */

/* ::::::::::::::::::: Cart Item Component ::::::::::::::::::::: */
.cart-item {
  width: 95%;
  margin: 0 auto;
  border: 1px solid #37353441;
  display: grid;
  height: 7rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3rem;
  margin-bottom: 0.5rem;
}
.cart-item-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  margin: 0 auto;
}
.cart-info-container {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin: 0.5rem auto;
}
.cart-info-container h4 {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--MainColor);
  font-family: var(--TextsFont);
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}
.cart-info-container h5 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  letter-spacing: 1.2px;
}
.btn-remove {
  color: #3f3f3f;
  font-size: 0.7rem;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-remove:hover {
  color: var(--MainColor);
}
.cart-amount-container {
  align-self: center;
  justify-self: center;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn-amount {
  margin: 0 auto;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--MainTransition);
  background: #96969609;
  color: var(--MainColor);
  border-radius: 1rem;
}
.btn-amount > * {
  transition: var(--MainTransition);
}
.btn-amount:hover > * {
  transform: scale(1.5);
}
.cart-amount {
  font-family: var(--TextsFont);
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
}
/* End Cart Item */
@media screen and (min-width: 900px) {
  .cart-item {
    width: 85%;
  }
}
@media screen and (min-width: 1200px) {
  .cart-item {
    max-width: 80%;
  }
}
/* ::::::::::::::::::: Login Page ::::::::::::::::::::: */
.form-section {
  height: 73vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login-form {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.364);
  text-align: center;
  margin: 2rem auto;
}
.form-control {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.form-control label {
  align-self: flex-start;
  text-transform: capitalize;
  font-family: var(--TextsFont);
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 0.5rem 0;
  color: var(--MainColor);
}
.form-control input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid rgba(111, 111, 111, 0.446);
  padding: 0.5rem 0;
  color: rgb(106, 106, 106);
}
.form-control input::placeholder {
  color: lightgray;
}
.btn-form {
  margin: 1rem auto;

  text-align: center;
}
.btn-form:hover {
  background: var(--MainColor);
  color: white;
}
.register-text {
  padding: 1rem;
  font-size: 0.7rem;
  color: var(--Gray1Color);
  letter-spacing: 1.7px;
}
.btn-register {
  border: none;
  outline: none;
  margin-top: 0.5rem;
  color: var(--MainColor);
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .login-form {
    width: 80%;
    margin-bottom: 4rem;
  }
  .form-control {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .login-form {
    width: 50%;
    margin-bottom: 5rem;
  }
  .form-control {
    width: 90%;
  }
}
/* End Login Page */

/* ::::::::::::::::::: Latest News ::::::::::::::::::::: */
.latest-news-header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0.3rem 0.5rem;
}
.latest-news-title {
  font-size: 1.5rem;
  color: var(--MainColor);
  font-family: var(--TitleFont);
  letter-spacing: 2px;
}
/* Latest Card Container */
.latest-section {
  position: relative;
}
.latest-card-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.083);
  background-color: white;
}
/* Latest Card */
.latest-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  flex: 1;
}
.latest-info {
  width: 95%;
  margin: 0 auto;
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.latest-info p {
  color: var(--MainColor);
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
.latest-info h4 {
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 0.3rem;
}
.latest-info h6 {
  max-width: 90%;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--Gray1Color);
  letter-spacing: 2px;
  margin-bottom: 0.2rem;
}
.btn-latest {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--MainColor);
  cursor: pointer;
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 700px) {
  .latest-news-header {
    width: 100%;
  }
  .latest-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .latest-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    height: 33rem;
  }
  .latest-img {
    height: 22rem;
  }
}

/* ::::::::::::::::::: News Details ::::::::::::::::::::: */
.news-section {
  min-height: 71vh;
}
.newsdetails-container {
  width: 95%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 3rem;
}
.newsdetails-img {
  width: 100%;
  object-fit: cover;
}
.newsdetails-container h1 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.newsdetails-container h6 {
  color: var(--MainColor);
  font-size: 1rem;
  margin: 0.8rem 0rem;
}
.newsdetails-container p {
  color: var(--Gray1Color);
  letter-spacing: 1.2px;
  line-height: 1.2;
  max-width: 90%;
}
.newsdetails-link {
  text-align: center;
  margin: 1rem auto;
  color: var(--MainColor);
}
/* End News Details*/

/* ::::::::::::::::::: Gallery Slider ::::::::::::::::::::: */
.gallery-container {
  width: 100%;
  height: 25rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  position: relative;
  display: flex; /*Aligns one next to the other*/
  background: var(--MainColor);
  overflow: hidden;
}
.slider-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: var(--MainTransition);
  opacity: 0;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-btn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--MainTransition);
  color: white;
}
.prev-slide {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 1;
}

.next-slide {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.prev-slide:hover {
  left: 2%;
}
.next-slide:hover {
  right: 2%;
}
/* Dynamic Classes */
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}
/* End Dynamic Classes */
@media screen and (min-width: 700px) {
  .gallery-container {
    height: 30rem;
  }
}
/* End Gallery Slider */

/* ::::::::::::::::::: Newsletter ::::::::::::::::::::: */
.newsletter-sect {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://firebasestorage.googleapis.com/v0/b/buona-pizza-b85d5.appspot.com/o/Latest%20News%2Fnewsletter.jpg?alt=media&token=de5b3bee-3f46-43f4-b725-e0ab74982363')
      center/cover no-repeat;
  border-bottom: 2px solid #ff2828;
  border-top: 2px solid #ff2828;
  height: 15rem;
}
.newsletter-container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 0rem;
}
.newsletter-icon {
  font-size: 2rem;
  color: white;
}
.newsletter-container h2 {
  color: white;
  font-family: var(--TitleFont);
  letter-spacing: 2px;
  padding: 0.3rem 0rem;
}
.newsletter-container p {
  color: #ff2828;
  letter-spacing: 1.3px;
}
.newsletter-control {
  position: relative;
  padding: 1rem 0rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.newsletter-input {
  width: 90%;
  padding: 0.3rem;
}
.btn-newsletter {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  top: 50%;
  right: ;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--MainColor);
  cursor: pointer;
  transition: var(--MainTransition);
  padding: 0.2rem;
}

/* End Newsletter */
@media screen and (min-width: 700px) {
  .newsletter-container {
    width: 70%;
  }
  .newsletter-input {
    width: 70%;
  }
  .btn-newsletter {
    right: 12%;
  }
}
/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */
